<h1>{{ 'general.change_password' | translate }}</h1>
<div class="content-form-page">
  <div class="row">
    <div class="col-md-5">
      <div class="well" innerHTML="{{ 'user.password_requirements' | translate }}">
      </div>
    </div>
    <div class="col-md-7">
      <form [formGroup]="form" role="form" class="form-horizontal form-without-legend">
        <div class="form-group">
          <label class="col-lg-3 control-label" for="current_password">{{ 'auth.current_password' | translate }} <span class="require">*</span></label>
          <div class="col-lg-7">
            <input formControlName="current_password" type="password" id="current_password" class="form-control">
            <span class="help-block">{{ 'error.form.required' | translate }}</span>
          </div>
        </div>
        <div class="form-group">
        <label class="col-lg-3 control-label" for="password">{{ 'auth.new_password' | translate }} <span class="require">*</span></label>
          <div class="col-lg-7">
            <input formControlName="password" type="password" id="password" class="form-control">
            <span class="help-block">{{ 'error.form.required' | translate }}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label" for="password_confirmation">{{ 'auth.confirm_password' | translate }} <span class="require">*</span></label>
          <div class="col-lg-7">
            <input formControlName="password_confirmation" type="password" id="password_confirmation" class="form-control">
            <span class="help-block">{{ 'error.form.required' | translate }}</span>
            <span *ngIf="!isPasswordMatch()" class="help-block confirm-password">{{ 'error.form.password_confirm' | translate }}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-3"></div>
          <div class="col-lg-7 no-padding">
            <button [disabled]="!form.valid || !isPasswordMatch() || isProcessing"
                    (click)="onSubmit()"
                    class="btn btn-primary"
                    type="submit">{{ 'action.change' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
