.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r-md {
  margin-right: 15px;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l-md {
  margin-left: 15px;
}

.m-l {
  margin-left: 20px;
}

.m-l-xl {
  margin-left: 30px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 20px;
}

.dropdown-sm {
  width: 200px !important;
}

.dropdown-md {
  width: 300px !important;
}

.full-screen {
  width: 100%;
  height: 100%;
}

.image-40 {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
}

/* app alert */
.app-alert {
  height: auto;
  background: $white;
  min-width: 324px;
  max-width: 324px;
  position: fixed;
  right: 10px;
  z-index: 9999;
  top: 36px;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  &:after {
    clear: left;
  }
  .alert {
    margin-bottom: 0;
  }
}

.item-name {
  color: $text-color;
  font-weight: 700;
}

.abc-radio {
  padding-left: 10px;
  label {
    padding-top: 4px;
    padding-left: 10px !important;
    &:after {
      background-color: $navy;
    }
  }
}
.radio-inline {
  +.radio-inline {
    margin-left: 20px;
  }
}

.form-group {
  label {
    &.required {
      &:after {
        content: '*';
        color: $red;
        margin-left: 3px;
      }
    }
  }
}

.btn {
  border-radius: 4px !important;
}
