.no-padding {
  padding: 0 !important;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline !important;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r-md {
  margin-right: 15px;
}

.dropdown-sm {
  width: 200px !important;
}

.dropdown-md {
  width: 300px !important;
}
