<h1>{{ 'general.my_account_page' | translate }}</h1>
<div class="content-page">
  <h3>{{ 'general.my_account' | translate }}</h3>
  <ul>
    <li><a [routerLink]="['/my-account', 'profile']">{{ 'account.edit_account' | translate }}</a></li>
    <li><a [routerLink]="['/my-account', 'change-password']">{{ 'account.change_your_password' | translate }}</a></li>
    <!-- <li><a href="javascript:;">Modify your address book entries</a></li> -->
    <!-- <li><a href="javascript:;">Modify your wish list</a></li> -->
  </ul>
  <hr>

  <h3>{{ 'general.my_orders' | translate }}</h3>
  <ul>
    <li><a [routerLink]="['/my-account', 'order-history']">{{ 'account.view_your_orders' | translate }}</a></li>
    <!-- <li><a href="javascript:;">Downloads</a></li> -->
    <!-- <li><a href="javascript:;">Your Reward Points</a></li> -->
    <!-- <li><a href="javascript:;">View your return requests</a></li> -->
    <!-- <li><a href="javascript:;">Your Transactions</a></li> -->
  </ul>
</div>
