<app-error></app-error>
<div id="back">
  <div class="backLeft">
    <div class="head">
      <h1>{{ 'genaral.register_now' | translate }}!</h1>
    </div>
    <div class="detail">
      <p>Create account to track orders, <br>save
        favorite food list,<br> received
        many attractive incentives.
      </p>
      <a [routerLink]="['/auth', 'register']">{{ 'action.register' | translate }}!</a>&nbsp;
      <a [routerLink]="['/auth', 'login']">{{ 'action.sign_in' | translate }}!</a>
    </div>
  </div>
  <div class="backRight"></div>
</div>
<div id="slideBox">
  <div class="topLayer">
    <div class="right">
      <div class="back">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> <a [routerLink]="['/homepage']">{{ 'general.back_to_home' | translate }}</a>
      </div>
      <div class="col-md-4 col-sm-4 col-sm-offset-4 logo">
        <p class="text-center title-login">Order Foody!</p>
        <!-- <img src="../../../../assets/corporate/img/logos/logo-red.png" class="img-responsive center-block" alt="Rounded Image"> -->
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>