.header {
  .search {
    position: relative;
  }
  .search-result {
    background-color: $white;
    z-index: 9999;
    position: absolute;
    border-radius: 5px !important;
    width: 350px;
    max-height: 400px;
    overflow: auto;
    padding: 10px;
  }

  .table-search-result {
    tr {
      display: block;
      padding: 10px;
      * {
        display: inline-block;
      }
    }
  }
}
