<h2>{{ 'auth.confirm_register' | translate }}!</h2>
<form role="form" class="login-form" [formGroup]="confirmRegisterForm">
  <div class="form-group">
    <label>{{ 'auth.first_name' | translate }} <span class="require">*</span></label>
    <input formControlName="first_name" name="first_name" placeholder="{{ 'auth.first_name' | translate }}..." class="form-input form-control">
  </div>
  <div class="form-group">
    <label>{{ 'auth.middle_name' | translate }} <span class="require">*</span></label>
    <input formControlName="middle_name" name="middle_name" placeholder="{{ 'auth.middle_name' | translate }}..." class="form-input form-control">
  </div>
  <div class="form-group">
    <label>{{ 'auth.last_name' | translate }} <span class="require">*</span></label>
    <input formControlName="last_name" name="last_name" placeholder="{{ 'auth.last_name' | translate }}.." class="form-input form-control">
  </div>
  <div class="form-group">
    <label>{{ 'auth.phone' | translate }} <span class="require">*</span></label>
    <input formControlName="phone" name="phone" placeholder="{{ 'auth.phone' | translate }}..." class="form-input form-control">
  </div>
  <div class="form-group">
    <label>{{ 'auth.address' | translate }} <span class="require">*</span></label>
    <input formControlName="address" name="address" placeholder="{{ 'auth.address' | translate }}..." class="form-input form-control">
  </div>
  <button (click)="confirmRegister()"
          [disabled]="!confirmRegisterForm.valid || isProcessing"
          type="submit"
          class="btn btn-primary form-button">{{ 'auth.confirm' | translate }}!</button>
</form>
