<h1>Order History</h1>
<span *ngIf="!orderHistory?.length">You have no order history here!</span>
<p-accordion [multiple]="true">
  <p-accordionTab *ngFor="let order of orderHistory" header="{{ order?.created_at | date: 'medium' }}">
    <div class="row margin-bottom-20">
      <div class="col-md-6">
        <div class="col-md-12">
          <p class="col-md-3">Receiver:</p>
          <p class="col-md-9 item-name">{{ order?.receiver }}</p>
        </div>
        <div class="col-md-12">
          <p class="col-md-3">Phone:</p>
          <p class="col-md-9">{{ order?.phone }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <p class="col-md-3">Address:</p>
          <p class="col-md-9">{{ order?.address }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="clearfix no-padding">
          <div class="table-wrapper-responsive">
            <table class="full-screen" summary="Shopping cart">
              <tr>
                <th class="text-center">Image</th>
                <th class="text-center">Description</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Unit price</th>
                <th class="text-center" colspan="2">Total</th>
              </tr>
              <tr *ngFor="let orderItem of order?.order_items">
                <td class="goods-page-image">
                  <a href="javascript:;"><img src="http://localhost:3001/{{ orderItem?.product?.avatar }}" alt="{{ orderItem?.name }}"></a>
                </td>
                <td class="text-center">
                  <p><a [routerLink]="['/product-detail', orderItem?.product?.id]">{{ orderItem?.product?.name }}</a></p>
                </td>
                <td class="text-center">
                  <span>{{ orderItem?.quantity }}</span>
                </td>
                <td class="text-center">
                  <span>{{ orderItem?.product?.price }}</span>
                </td>
                <td class="text-center">
                  <span>{{ orderItem?.total_price }}</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="col-md-6 pull-right text-right" [ngStyle]="{ 'padding-right': '50px' }">
              <em>Total:</em>&nbsp;&nbsp;
              <strong class="price">{{ order?.totalPrice }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>

<!-- <div class="faq-page">
  <div *ngFor="let order of orderHistory" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_{{ order?.id }}">
        1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
        </a>
      </h4>
    </div>
    <div id="accordion1_{{ order?.id }}" class="panel-collapse collapse  in">
      <div class="col-md-12">
        <div class="clearfix no-padding">
          <div class="table-wrapper-responsive">
            <table class="full-screen" summary="Shopping cart">
              <tr *ngFor="let orderItem of order?.order_items">
                <td class="goods-page-image">
                  <a href="javascript:;"><img src="http://localhost:3000{{ orderItem?.product?.avatar }}" alt="{{ orderItem?.name }}"></a>
                </td>
                <td class="text-center">
                  <p><a [routerLink]="['/product-detail', orderItem?.product?.id]">{{ orderItem?.product?.name }}</a></p>
                </td>
                <td class="text-center">
                  <span>{{ orderItem?.quantity }}</span>
                </td>
                <td class="text-center">
                  <span>{{ orderItem?.product?.price }}</span>
                </td>
                <td class="text-center">
                  <span>{{ orderItem?.total_price }}</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="col-md-6 pull-right text-right" [ngStyle]="{ 'padding-right': '50px' }">
              <em>Total:</em>&nbsp;&nbsp;
              <strong class="price">{{ order?.totalPrice }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
