<div class="main">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3 col-sm-5">
        <app-sidebar></app-sidebar>
        <div class="sidebar-filter margin-bottom-25">
          <h2>FILTER</h2>
          <h3>Price</h3>
          <p>
            <label for="amount">Range: $50 - $100</label>
            <p-slider [min]="50" [max]="100"></p-slider>
          </p>
        </div>
        <div class="sidebar-products clearfix">
          <h2>Bestsellers</h2>
          <div class="item">
            <a href="shop-item.html"><img src="assets/pages/img/products/k1.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$31.00</div>
          </div>
          <div class="item">
            <a href="shop-item.html"><img src="assets/pages/img/products/k4.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$23.00</div>
          </div>
          <div class="item">
            <a href="shop-item.html"><img src="assets/pages/img/products/k3.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$86.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-9 margin-bottom-40">
        <div class="col-md-12"><div class="row list-view-sorting clearfix">
          <div class="col-md-2 col-sm-2 list-view">
            <a href="javascript:;"><i class="fa fa-th-large"></i></a>
            <a href="javascript:;"><i class="fa fa-th-list"></i></a>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="pull-right">
              <label class="control-label">Sort&nbsp;By:</label>
              <!-- <p-dropdown [options]="sortOptionList"
                          styleClass="dropdown-sm">
              </p-dropdown> -->
              <select class="form-control input-sm">
                <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
              </select>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-12 pull-right margin-top-25">
          <p-paginator pageLinkSize="3" [rows]="10" [totalRecords]="120"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
