<div class="main">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3 col-sm-5">
        <app-sidebar></app-sidebar>
        <div class="sidebar-filter margin-bottom-25">
          <h2>FILTER</h2>
          <h3>Price</h3>
          <p>
            <label for="amount">Range: $50 - $100</label>
            <p-slider [min]="50" [max]="100"></p-slider>
          </p>
        </div>
        <div class="sidebar-products clearfix">
          <h2>Bestsellers</h2>
          <ng-template ngFor let-item [ngForOf]="bestSellersProduct">
            <div class="item">
              <a [routerLink]="['/product-detail', item?.id]"><img src="http://localhost:3001/{{ item?.avatar }}" alt="{{ item?.name }}"></a>
              <h3 class="margin-bottom-5"><a [routerLink]="['/product-detail', item?.id]">{{ item?.name }}</a></h3>
              <div class="price margin-bottom-5">
                <p-rating [stars]="5"
                          [cancel]="false"
                          [ngModel]="item?.star"
                          [readonly]="true"></p-rating>
              </div>
              <div class="price">{{ item?.price }}</div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-md-9 col-sm-7 margin-bottom-40">
        <div class="col-md-12">
          <div class="row list-view-sorting clearfix">
            <div class="col-md-2 col-sm-2 list-view">
              <a href="javascript:;"><i class="fa fa-th-large"></i></a>
              <a href="javascript:;"><i class="fa fa-th-list"></i></a>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="pull-right">
                <label class="control-label">Sort&nbsp;By:</label>
                <!-- <p-dropdown [options]="sortOptionList"
                            styleClass="dropdown-sm">
                </p-dropdown> -->
                <select class="form-control input-sm">
                  <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                  <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                  <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                  <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                  <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                  <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                  <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                  <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                  <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <ng-template ngFor let-item [ngForOf]="datatableConfigs.value">
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-20">
            <div class="product-item" [ngStyle]="{ 'min-height': '442px' }">
              <div class="pi-img-wrapper">
                <img src="http://localhost:3001/{{ item?.avatar }}" class="img-responsive" alt="{{ item?.name }}">
                <div>
                  <a target="_blank" href="http://localhost:3001/{{ item?.avatar }}" class="btn btn-default fancybox-button">Zoom</a>
                  <a [routerLink]="['/product-detail', item?.id]" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a [routerLink]="['/product-detail', item?.id]">{{ item?.name }}</a></h3>
              <div class="margin-bottom-10">
                <p-rating [stars]="5"
                          [cancel]="false"
                          [ngModel]="item?.star"
                          [readonly]="true"></p-rating>
              </div>
              <div class="pi-price">{{ item?.price }}</div>
              <a (click)="addToCart(item)" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
        </ng-template>
        <div class="col-md-12 pull-right margin-top-25">
          <p-paginator pageLinkSize="{{ datatableConfigs.pageLinks }}"
                      [rows]="datatableConfigs.rows"
                      [totalRecords]="datatableConfigs.totalRecords"
                      (onPageChange)="loadData($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
