<div class="main product-detail">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3 col-sm-5">
        <app-sidebar></app-sidebar>
        <div class="sidebar-products clearfix">
          <h2>Bestsellers</h2>
          <ng-template ngFor let-item [ngForOf]="bestSellersProduct">
            <div class="item">
              <a [routerLink]="['/product-detail', item?.id]"><img src="http://localhost:3000{{ item?.avatar }}" alt="{{ item?.name }}"></a>
              <h3><a [routerLink]="['/product-detail', item?.id]">{{ item?.name }}</a></h3>
              <div class="price">{{ item?.price }}</div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-md-9 col-sm-7 margin-bottom-40">
        <div class="product-page">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="product-main-image">
                <img src="http://localhost:3000{{ product?.avatar }}" alt="Cool green dress with red bell" class="img-responsive" data-BigImgsrc="assets/pages/img/products/model7.jpg">
              </div>
              <div class="product-other-images">
                <ng-template ngFor let-image [ngForOf]="product?.products_images">
                  <a href="assets/pages/img/products/model3.jpg" class="fancybox-button" rel="photos-lib">
                    <img alt="{{ product?.name }}" src="http://localhost:3000{{ image?.url }}">
                  </a>
                </ng-template>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <h1>{{ product?.name }}</h1>
              <div class="price-availability-block clearfix">
                <div class="price">
                  <strong><span>$</span>47.00</strong>
                  <em>$<span>62.00</span></em>
                </div>
                <!-- <div class="availability">
                  Availability: <strong>In Stock</strong>
                </div> -->
              </div>
              <div class="description">
                <p>{{ product?.description }}</p>
              </div>
              <!-- <div class="product-page-options">
                <div class="pull-left">
                  <label class="control-label">Size:</label>
                  <select class="form-control input-sm">
                    <option>L</option>
                    <option>M</option>
                    <option>XL</option>
                  </select>
                </div>
                <div class="pull-left">
                  <label class="control-label">Color:</label>
                  <select class="form-control input-sm">
                    <option>Red</option>
                    <option>Blue</option>
                    <option>Black</option>
                  </select>
                </div>
              </div> -->
              <div class="product-page-cart">
                <div class="product-quantity">
                  <input [(ngModel)]="quantity" id="product-quantity" min="1" type="number" value="1" class="form-control input-sm">
                </div>
                <button (click)="addToCart(product, quantity)" class="btn btn-primary" type="submit">Add to cart</button>
              </div>
              <div class="review">
                <p-rating [stars]="5"
                          [cancel]="false"
                          [ngModel]="product?.star"
                          [readonly]="true"></p-rating>
                <div class="rateit display-inline-block">
                </div>
                <a href="javascript:;">{{ product?.votes?.length }} reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;">Write a review</a>
              </div>
              <ul class="social-icons">
                <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
              </ul>
            </div>

            <div class="product-page-content">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#Description" data-toggle="tab">{{ 'product.description' | translate }}</a></li>
                <li><a href="#Reviews" data-toggle="tab">Reviews ({{ product?.votes?.length }})</a></li>
                <li><a href="#Comments" data-toggle="tab">Comments ({{ product?.parent_comments?.length }})</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="Description">
                  <p>{{ product?.description }}</p>
                </div>
                <div class="tab-pane fade" id="Comments">
                  <!-- BEGIN FORM-->
                  <form [formGroup]="formComment" class="reviews-form margin-bottom-40" role="form">
                    <h2>Write a comment</h2>
                    <div class="form-group">
                      <label for="comment">Comment <span class="require">*</span></label>
                      <textarea formControlName="context" class="form-control" rows="5" id="comment"></textarea>
                    </div>
                    <div class="padding-top-20">
                      <button (click)="submitComment()"
                              [disabled]="!formComment.valid"
                              type="submit"
                              class="btn btn-primary">Comment</button>
                    </div>
                  </form>
                  <!-- END FORM-->
                  <p *ngIf="!product?.parent_comments?.length; else otherComment">There are no comments for this product.</p>
                  <ng-template #otherComment>
                    <div *ngFor="let parentItem of product?.parent_comments; let lastParent = last" class="review-item clearfix">
                      <div class="parent-comment">
                        <div class="review-item-submitted clearfix">
                          <div class="col-md-6 no-padding">
                            <img class="image-40 display-inline" src="http://localhost:3000{{ parentItem?.user?.avatar }}" alt="{{ parentItem?.user?.full_name }}">
                            <strong class="m-l-sm display-inline-block">{{ parentItem?.user?.full_name }}</strong>
                          </div>
                        </div>
                        <div class="m-l-sm">
                          <div class="review-item-content">
                            <p class="no-margin">{{ parentItem?.context }}</p>
                          </div>
                          <div class="text-right review-item-submitted clearfix no-margin">
                            <em>{{ parentItem?.from_now }}</em>
                          </div>
                          <p *ngIf="parentItem?.child_comments?.length && !parentItem.isShowChildComment" class="margin-bottom-10">
                            <a (click)="toggleShowComment(parentItem)">Show child comments.</a>
                          </p>
                        </div>
                        <div class="m-l-xl children-comment">
                          <ng-template [ngIf]="parentItem?.isShowChildComment">
                            <div *ngFor="let childItem of parentItem.child_comments; let lastChild = last">
                              <div class="review-item-submitted clearfix">
                                <div class="col-md-6 no-padding">
                                  <img class="image-40 display-inline" src="http://localhost:3000{{ childItem?.user?.avatar }}" alt="">
                                  <strong class="m-l-sm display-inline-block">{{ childItem?.user?.full_name }}</strong>
                                </div>
                              </div>
                              <div class="m-l-sm">
                                <div class="review-item-content">
                                  <p class="no-margin">{{ childItem?.context }}</p>
                                </div>
                                <div class="review-item-submitted clearfix text-right">
                                  <em>{{ childItem?.from_now }}</em>
                                </div>
                              </div>
                              <hr *ngIf="!lastChild">
                            </div>
                          </ng-template>
                          <!-- <div class="input-comment">
                            <input type="text" class="full-screen">
                          </div> -->
                        </div>

                        <!-- <div>
                          <input class="m-l-sm" type="text" [ngStyle]="{ 'width': '99%', 'height': '30px' }">
                        </div> -->

                        <p class="m-l-sm" *ngIf="parentItem?.child_comments?.length && parentItem.isShowChildComment">
                          <a (click)="toggleShowComment(parentItem)">Hide child comments.</a>
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="tab-pane fade" id="Reviews">
                  <!-- BEGIN FORM-->
                  <form [formGroup]="formReview" class="reviews-form margin-bottom-40" role="form">
                    <h2>Write a review</h2>
                    <!-- <div class="form-group">
                      <label for="name">Name <span class="require">*</span></label>
                      <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email">
                    </div> -->
                    <div class="form-group">
                      <label for="review">Review <span class="require">*</span></label>
                      <textarea formControlName="description" class="form-control" rows="5" id="review"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="email">Rating</label>
                      <p-rating formControlName="star" [stars]="5"></p-rating>
                    </div>
                    <div class="padding-top-20">
                      <button (click)="submitReview()"
                              [disabled]="!formReview.valid"
                              type="submit"
                              class="btn btn-primary">Review</button>
                    </div>
                  </form>
                  <!-- END FORM-->
                  <hr>
                  <p *ngIf="!product?.votes?.length; else otherReview">There are no reviews for this product.</p>
                  <ng-template #otherReview>
                    <div *ngFor="let item of product?.votes; let lastReview = last" class="review-item clearfix">
                      <div class="review-item-submitted clearfix">
                        <div class="col-md-6 no-padding">
                          <strong>{{ item?.user?.full_name }}</strong>
                          <em>{{ item?.created_at }}</em>
                        </div>
                        <div class="col-md-6 no-padding text-right">
                          <p-rating [stars]="5"
                                    [cancel]="false"
                                    [ngModel]="item?.star"></p-rating>
                        </div>
                      </div>
                      <div class="review-item-content">
                        <p>{{ item?.description }}</p>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="sticker sticker-sale"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-bottom-40">
      <div class="col-md-12 col-sm-12">
        <h2>Most popular products</h2>
        <div class="col-md-3">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/k1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            <div class="sticker sticker-new"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/k3.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="assets/pages/img/products/k4.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="assets/pages/img/products/k4.jpg" class="btn btn-default fancybox-button">Zoom</a>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress4</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            <div class="sticker sticker-sale"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
